############################
# Warcraft Game Files
############################
Cache/*
Data/*
Logs/*
Errors/*
Interface/Addons/Blizzard_*
Updates/*
Screenshots/*
*.exe
*.dll
*.*fil
*.db
*cache*.*
*.manifest
*.mpq
*CUFProfiles.txt
*.psd
*.afdesign